<app-header></app-header>
<div class="container">
  <div class="col-xs-12 col-md-8">
    <h1>{{ 'REGISTER.TITLE' | translate }}</h1>
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="name">{{ 'REGISTER.NAME_LABEL' | translate }}</label>
        <input [(ngModel)]="owner.name" id="name" type="text" class="form-control input-sm" name="name" required/>
      </div>

      <div class="form-group">
        <label for="address">{{ 'REGISTER.ADDRESS_LABEL' | translate }}</label>
        <input [(ngModel)]="owner.address" id="address" type="text" class="form-control input-sm" name="address" required/>
      </div>

      <div class="form-group">
        <label for="residence">{{ 'REGISTER.RESIDENCE_LABEL' | translate }}</label>
        <input [(ngModel)]="owner.residence" id="residence" type="text" class="form-control input-sm" name="residence" required/>
      </div>

      <div class="form-group">
        <label for="username">{{ 'REGISTER.USERNAME_LABEL' | translate }}</label>
        <input [(ngModel)]="owner.username" id="username" type="text" class="form-control input-sm" name="username" required/>
      </div>

      <div class="form-group">
        <label for="password">{{ 'REGISTER.PASSWORD_LABEL' | translate }}</label>
        <input [(ngModel)]="owner.password" type="password" id="password" class="form-control input-sm" name="password" required/>
      </div>

      <button (click)="register()" type="submit" class="btn btn-primary" [disabled]="!userForm.valid">{{ 'REGISTER.REGISTER_BUTTON' | translate }}</button>
    </form>
  </div>
  <hr class="col-xs-12" />
</div>
