<app-header></app-header>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="row" id="invoiceHeader">
      <div class="col-md-8">
        <h2>Invoice {{invoice?.id}}</h2>
      </div>
      <div class="col-md-4 btn btn-group">
        <button type="button" class="btn btn-primary">Pay invoice</button>
        <button type="button" class="btn btn-default">Download .pdf</button>
      </div>
    </div>
    <div class="row">
      <dl class="dl-horizontal" id="invoiceInfo">
        <dt>Date:</dt>
        <dd>{{invoice?.date.toDateString()}}</dd>
        <dt>Total price:</dt>
        <dd>{{invoice?.totalPrice}}</dd>
        <dt>Country of origin:</dt>
        <dd>{{invoice?.countryOfOrigin}}</dd>
        <dt>Payment status:</dt>
        <dd>{{invoice?.paymentStatus}}</dd>
        <dt>Period from:</dt>
        <dd>{{invoice?.startDate.toDateString()}} to {{invoice?.endDate.toDateString()}}</dd>
      </dl>
    </div>
    <div class="row">
      <div>
        <app-rides [rides]="invoiceRides"></app-rides>
      </div>
    </div>
  </div>
</div>
