<app-header></app-header>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="row" id="invoiceHeader">
      <div class="col-md-6">
        <h2>{{ 'INVOICE.HEADER' | translate }} {{invoice?.id}}</h2>
      </div>
      <div class="col-md-6">
        <div class="btn btn-group pull-right">
          <button type="button" class="btn btn-primary">{{ 'INVOICE.PAY_INVOICE' | translate }}</button>
          <button type="button" class="btn btn-default">{{ 'INVOICE.DOWNLOAD_PDF' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <dl class="dl-horizontal" id="invoiceInfo">
        <dt>{{ 'INVOICE.DATE' | translate }}</dt>
        <dd>{{invoice?.date.toDateString()}}</dd>
        <dt>{{ 'INVOICE.TOTAL_PRICE' | translate }}</dt>
        <dd>{{invoice?.totalPrice}}</dd>
        <dt>{{ 'INVOICE.COUNTRY_OF_ORIGIN' | translate }}</dt>
        <dd>{{invoice?.countryOfOrigin}}</dd>
        <dt>{{ 'INVOICE.PAYMENT_STATUS' | translate }}</dt>
        <dd>{{invoice?.paymentStatus}}</dd>
        <dt>{{ 'INVOICE.PERIOD' | translate }}</dt>
        <dd>{{invoice?.startDate.toDateString()}} to {{invoice?.endDate.toDateString()}}</dd>
      </dl>
    </div>
    <div class="row">
      <div>
        <app-rides [rides]="invoiceRides"></app-rides>
      </div>
    </div>
  </div>
</div>
