<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ 'RIDES.HEADER' | translate }}</div>
  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'RIDES.TIME' | translate }}</th>
        <th>{{ 'RIDES.DISTANCE' | translate }}</th>
      </tr>
    </thead>
    <tr *ngFor="let ride of rides" id="cards" [routerLink]="['/ride', ride?]">
      <td>
        {{ride?.startDate | date: 'hh:mm:ss'}}/{{ride?.endDate | date: 'hh:mm:ss'}} - {{ride?.startDate | date: 'dd MMM'}}
      </td>
      <td>
        {{ride?.distance | distance}}
      </td>
    </tr>
  </table>
</div>