<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a id="brand" class="navbar-brand" href="#">{{ 'HEADER.TITLE' | translate }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="">{{ 'HEADER.HOME' | translate }}</a></li>
                <li><a routerLink="/profile/1">{{ 'HEADER.PROFILE' | translate }}</a></li>
                <li><a routerLink="/register">{{ 'HEADER.REGISTER' | translate }}</a></li>
                <li><a routerLink="/login">{{ 'HEADER.LOGIN' | translate }}</a></li>
            </ul>
            <div id="language-select">
                <label>
                    <span id="language-select-label">{{ 'HEADER.SELECT_LANGUAGE' | translate }}</span>
                    <select #langSelect (change)="translate.use(langSelect.value)">
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
</nav>
