<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ 'INVOICES.HEADER' | translate }}</div>
  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'INVOICES.DATE' | translate }}</th>
        <th>{{ 'INVOICES.TOTAL_PRICE' | translate }}</th>
        <th>{{ 'INVOICES.PAYMENT_STATUS' | translate }}</th>
      </tr>
    </thead>
    <tr *ngFor="let invoice of invoices" id="cards">
      <td>
        {{invoice?.date | jodatime}}
      </td>
      <td>
        {{invoice?.totalPrice}}
      </td>
      <td>
        {{invoice?.paymentStatus}}
      </td>
      <td>
        <a href="http://localhost:8080/download?id={{invoice?.id}}" target="_blank">Download</a>
      </td>
    </tr>
  </table>
</div>